*{
	margin: 0;
	padding: 0;
}
.iconsear
{
 background-color: yellow;
 width: 20px;
 height: 22px;
}
.iconshop
{
  margin: 35px;
}
.search
{
  display: flex;
  margin: 40px;
  height: 22px;
}
.header
{
  display: flex;

	justify-content: space-between;

}
.icon
{
  margin: 35px;
  background-color: black;
  color: white;
  width: 100px;
  height: 35px;
  display: flex;

}
.icons
{
  display: flex;
  padding: 0 20px 0 20px;
  margin: 40px;
}
.heart
{
  margin: 0 15px;
}
.user
{
  margin: 0 15px;
}
.shopp
{
  margin: 0 15px;
}
.location
{
  color: white;
  display: flex;
  flex-direction: column;
}