*{
	margin: 0;
	padding: 0;
}
.iconshop
{
  margin: 10px 35px 0px 35px;
}

.header
{
  display: flex;
	justify-content: space-between;
  

}
.icon
{
  margin: 10px 35px 5px 35px;
  background-color: black;
  color: white;
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
}
.icons
{
  display: flex;
  padding: 0 20px 0 20px;
  margin: 13px 40px 10px 40px;
  align-items: center;
}
.heart
{
  margin: 0 15px;
}
.user
{
  margin: 0 15px;
}
.shopp
{
  margin: 0 15px;
}
.location
{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.navi
{
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  background-color: #ffbd27;
  align-items: center;
  
}
.navi2
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}
.navi2 li
{
  display: inline-block;
  padding: 6px 20px;
}
.shopmod
{
  padding: 6px 30px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;

}
img {
  width : 1200px;
  height : 316px;
  }
.middle
{
  display: flex;
  margin: 20px 0px ;
}
.table
{
  margin: 0px 0px 0px 50px;
  
}
.Image
{
  margin: 0px 0px 0px 20px;
}
.tab
{
 margin: 7px;
 display: flex;
}
.card
{
/* display: grid;
width: 80em;
grid-gap: 1em; */
border-style: inset;
width: 300px;
/* align-items: start ; */
}
.imageprop
{
  width : 280px;
  height: 280px;
  padding: 0px 0px 0px 10px;

}
.cardimage
{
  width: 100%;
  height: 100%;
  object-fit:contain;

  /* object-position: center center; */
}
.prix
{
  display: flex;

  align-items: center;
  
}
.allbas
{
  display: flex;
  justify-content: space-around;
}
.name
{
  margin: 0px 0px 0px 10px;
  font-size: 16px;
}
span
{
  margin: 0px 20px 0px 30px;
  color: gray;
  text-decoration: line-through;
  font-size: 9px;
}
.types
{
  padding: 0px 0px 0px 7px;
}
.prixx
{
  padding: 0px 0px 0px 70px;
}
.iconsear {
  background-color: #ffbd27;
  /* width: 20px; */
  /* height: 22px; */
  display: flex;
  align-items: center;
  padding: 0px 5px;
}
.iconshop {
  /* margin: 35px; */
  display: flex;
  align-items: center;
}
.search {
  display: flex;
  /* margin: 40px; */
  /* height: 22px; */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 25px;
}
.location-container {
  /* margin: 35px; */
  background-color: black;
  color: white;
  /* width: 100px; */
  /* height: 35px; */
  display: flex;
  align-items: center;
  padding: 5px 13px;
  border-radius: 6px;
}
.icons {
  display: flex;
  /* padding: 0 20px 0 20px; */
  /* margin: 40px; */
}
.heart {
  margin: 0 15px;
}
.user {
  margin: 0 15px;
}
.shopp {
  margin: 0 15px;
}
.location {
  color: white;
  /* display: flex;
  flex-direction: column; */
  margin-left: 10px;
}
​
/* //////////////////// */
.logo-icon {
  width: 30px;
  height: 30px;
}
.location-icon {
  width: 20px;
  height: 20px;
}
.input {
  height: 30px;
}
.vertical-divider {
  border-left: 1px solid black;
}


